@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello User,</p>
    <p>This application is a tool to help you keep a simple management of some products.</p>
    <p>
        This application is not officially released
        and is still under development.
    </p>
    <p>
        For any inconvenience created in this application, please stop using it.
    </p>
</div>
